#welcome {
  background: url(../assets/backgrounds/h_img.jpg);
  text-align: center;
  color: white;
  background-size: cover;
  font-weight:1000;
}
h1{
  font-size: 50px;
}
.form-control{
  background: none;
}
#about {
  text-align: center;
}
#services{
  background: url(../assets/backgrounds/s_image.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}
#what-we-do, #contact{
  text-align: center;
}

#contact{
  background: url(../assets/backgrounds/c_image.jpg);
  background-size: cover;
  color: white;
}
.col-md-3{
  padding: 0%;
  height: 210px;
  background-color: violet ;
}
#SUBMIT{
  color: white;
  width: 100px;
}
.desp1, .desp2, .desp3{
  text-align: center;
  display: none;
}
.for-tb0, .for-tb1, .for-tb2, .for-tb3, .for-tb4, .for-tb5, .for-tb6, .for-tb7 {
display: none;
text-align: center;
color: white;
border: solid 10px whitesmoke;
height: 180px;
margin-top: 15px;
margin-left: 15px;
margin-right: 15px;
}

.tb0 {
  background-image: url(../assets/portfolio/woork1.jpg);
  background-size: cover;
}
.tb1 {
  background-image: url(../assets/portfolio/woork2.jpg);
  background-size: cover;
}
.tb2 {
  background-image: url(../assets/portfolio/woork3.jpg);
  background-size: cover;
}
.tb3 {
  background-image: url(../assets/portfolio/woork4.jpg);
  background-size: cover;
}

.tb4 {
  background-image: url(../assets/portfolio/work5.jpg);
  background-size: cover;
}
.tb5 {
  background-image: url(../assets/portfolio/work6.jpg);
  background-size: cover;
}
.tb6 {
  background-image: url(../assets/portfolio/work7.jpg);
  background-size: cover;
}
.tb7 {
  background-image: url(../assets/portfolio/work8.jpg);
  background-size: cover;
}


.tbl-row {
  margin: 1em;
  border: 1px solid red;

}
